<html>
    <head>
        <title>Create New Line</title>
    </head>
    <body>
        <div>
            <h4>CREATE NEW LINE</h4>
            <form action="{% url 'submitCreate' %}" method = "post">
                <input type="text" name ="text">
                <input type="submit" value="CREATE LINE">
            </form>
            <form action="{% url 'table' %}">
                <button>BACK</button>
            </form>
        </div>
    </body>
</html>