<html>
    <head>
        <title>Edit Line</title>
    </head>
    <body>
        <div>
            <h4>EDIT LINE</h4>
            <form action="{% url 'submitEdit' lineId %}" method = "post">
                <input type="hidden" name="previousText" value="{{ text }}">
                <input type="text" name ="text" value="{{ text }}">
                <input type="submit" value="SUBMIT">
            </form>
            <form action="{% url 'table' %}">
                <button>BACK</button>
            </form>
        </div>
    </body>
</html>