<html>
    <head>
        <title>submit edit</title>
    </head>
    <body>
        <h3>EDIT</h3>
        <h4>FROM: {{ previousText }}</h4>
        <h4>TO: {{ inputText }}</h4>
    <form action="{% url 'saveEdit' lineId %}" method="post">
        <input type="hidden" name="text" value="{{ inputText }}">
        <button type="submit">SAVE</button>
    </form>
    <form action="{% url 'saveEdit' lineId %}" method="get">
        <button type="submit">DON'T SAVE</button>
        </button>
    </form>
    </body>
</html>