<html>
    <head>
        <title>submit edit</title>
    </head>
    <body>
        <h4>{{ text }}</h4>
        <form action="{% url 'saveDelete' lineId %}" method="get">
            <button type="submit">DELETE</button>
        </form>
        <form action="{% url 'table' %}" method="get">
            <button type="submit">CANCEL</button>
        </form>
    </body>
</html>