<html>
    <head>
        <title>table</title>
    </head>
    <body>
        <table>
            {% for line in lines %}
                <tr>
                    <td>{{ line.text }}</td>
                    <td>
                        <a form method="post" name="{{ line.id }}" href="{% url 'toggleButton' line.id %}">{{ line.active }}</a>
                    </td>
                    <td>
                        <form action="{% url 'editLine' line.id %}" method="get">
                            <button>EDIT</button>
                        </form>
                        <form action="{% url 'submitDelete' line.id %}" method="get">
                            <button type="submit">DELETE</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        <form action="{% url 'createLine' %}" method="get">
            <button>NEW LINE</button>
        </form>
        </table>
    </body>    
</html>